<template>
  <section class="container">
    <h1>S3 Gallary</h1>

    <div class="row">
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="https://loremflickr.com/320/240" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary">Vote!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="https://loremflickr.com/320/240" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary">Vote!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>